#######################################
# OS Files
#######################################
.DS_Store
Thumbs.db

#######################################
# Eclipse / Spring Tool Suite
#######################################
.metadata/
.settings/
.project
.classpath
.factorypath

#######################################
# IntelliJ
#######################################
.idea/
*.iml

#######################################
# VS Code
#######################################
.vscode/

#######################################
# Maven (Backend - bankapp)
#######################################
bankapp/target/
bankapp/logs/
bankapp/*.log

#######################################
# Angular (Frontend - bankapp-client)
#######################################
bankapp-client/node_modules/
bankapp-client/dist/
bankapp-client/.angular/

#######################################
# General Logs
#######################################
*.log

#######################################
# Environment Files
#######################################
.env
.env.local
.env.*.local
