<nav class="navbar">
  <div class="nav-left">
    <div class="logo">MyBank</div>

    <a routerLink="/accounts" routerLinkActive="active">Accounts</a>
    <a routerLink="/clerks" routerLinkActive="active">Clerks</a>
    <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
    <a routerLink="/operations" routerLinkActive="active">Operations</a>
  </div>

  <div class="nav-right">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
